html, body {
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #F0F0F8;
}

/* navigation bar */

.top-nav {
    background-color: white;
    margin: 0;
    position: sticky;
    top: 0px;
    z-index: 1000;
}

.menu {
    text-align: center;
    padding: 10px 0;
    margin-bottom: -46px;
}

li {
    font-family: sans-serif;
    display: inline-block;
    margin: 0 14px;
    vertical-align: middle;
}

.logo {
    height: 75px;
    margin-right: 22px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

a:link {
    color: #343f52;
}

a:hover {
    color: #605dba;
}

button {
    color: white;
    background-color: #605dba;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 1em;
    padding: 14px 22px;
}

button:hover {
    cursor: pointer;
    background-color: #383680;
    transition: all 100ms ease-in-out;
}

.contact-button {
    margin-left: 22px;
}

.contact-button:hover {
    cursor: pointer;
}

/* front page container */
.front-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -34px;
}

/* before after image feature */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider-image {
  display: block;
  max-width: 100%;
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.before-after {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  --position: 50%;
}

.image-container {
  max-width: 800px;
  max-height: 90vh;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.image-before {
  position: absolute;
  inset: 0;
  width: var(--position);
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  opacity: 0;
  /* for Firefox */
  width: 100%;
  height: 100%;
}

.slider:focus-visible ~ .slider-button {
  outline: 5px solid black;
  outline-offset: 3px;
}

.slider-line {
  position: absolute;
  inset: 0;
  width: .2rem;
  height: 100%;
  background-color: #fff;
  /* z-index: 10; */
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.slider-button {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: .5rem;
  border-radius: 100vw;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  /* z-index: 100; */
  box-shadow: 1px 1px 1px hsl(0, 50%, 2%, .5);
}

/* main page title */
.main-container {
    display: block;
    margin: 0 auto;
    padding: 0 50px;
    position: relative;
    right: 20px;
}

.sparkle {
    position: relative;
    height: 40px;
    margin-bottom: -40px;
    position: relative;
    right: 28px;
    bottom: 10px;
}

h1.main-title {
    color: #343f52;
    font-size: 50px;
    font-family: sans-serif;
    display: inline-block;
    margin-bottom: 20px;
}

p.main-sub {
    color: #60697b;
    font-size: 22px;
    font-family: sans-serif;
}

span.gradient {
    font-style: italic;
    font-family: 'IBM Plex Serif', serif;
    padding-right: 0.2em;
    margin-right: -0.2em;
}

.gradient {
    background-image: linear-gradient(to right, #ce6989, #853fe0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* about section */
.white-container {
    background-color: white;
    display: block;
    margin: 0 auto;
    padding: 100px 160px;
    position: relative;
}

.header-container {
    margin-bottom: 50px;
}

.about-content {
    padding-bottom: 20px;
}

h2 {
    color: #343f52;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
}

.about-details {
    display: flex;
    align-items: center;
    justify-content: center;
}

.artvartist {
    display: inline-block;
    width: 428px;
    margin-right: 50px;
}

.about-description {
    padding-left: 20px;
}

.my-description-one,
.my-description-two,
.name {
    font-family: sans-serif;
    line-height: 1.5;
    color: #60697b;
    margin-bottom: 20px;
}

.name {
    font-style: italic;
}

span.locked-tomb {
    color: #605dba;
    font-style: italic;
    font-weight: 500;
}

/* gallery section */
.gray-container {
    display: block;
    margin: 0 auto;
    padding: 60px 160px;
    position: relative;
}

.default-padding {
    padding: 50px 160px;
}

.gal-art {
    width: 300px;
    transition: transform .2s;
}

.gal-art:hover {
    transform: scale(1.5);
}

.art-text,
.equipment-text,
.ref-text,
.draw-text,
.plan-text {
    font-family: sans-serif;
    color: #343f52;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
}

.row-1,
.row-2,
.row-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 10px 10px;
    border-radius: 8px;
}

/* prompt generator section */

.generator {
    margin: auto;
    width: 50%;
}

.excerpt {
    font-family: sans-serif;
    color: #343f52;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
}

.prompt-container {
    padding: 8px;
    border: solid #60697b;
    border-width: thin;
    border-radius: 8px;
    margin-bottom: 10px;
}

.prompt-label {
    margin-bottom: 10px;
    font-family: sans-serif;
}

.generated-prompt {
    font-family: sans-serif;
}

/* my equipment section */
.row-equipment {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    width: 225px;
}

/* ipad apps section */
.row-reference,
.row-draw,
.row-plan {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 60px;
}

.app-head {
    font-family: sans-serif;
    margin-bottom: 10px;
    color: #60697b;
    font-weight: bold;

}

.ref-card,
.draw-card,
.plan-card {
    background-color: #F0F0F8;
    padding: 20px;
    margin: 8px 8px;
    border-radius: 8px;
    transition: transform .2s;
}

.ref-card:hover,
.draw-card:hover,
.plan-card:hover {
    transform: scale(1.2);
}

.ref-app,
.draw-app,
.plan-app {
    width: 100px;
    border-radius: 22px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 0 auto;
    display: block;
}

.ref-app:hover,
.draw-app:hover,
.plan-app:hover {
    opacity: 0.8;
    transition: all 100ms ease-in-out;
}

.for {
    font-size: 12px;
}


/* footer */
footer {
    background-color: #343f52;
    padding: 100px 50px;
}

p.coded-by {
    color: white;
}